@import url('https://fonts.googleapis.com/css?family=Courier+Prime');




tw-passage{
      font-family: "Courier Prime",'Courier New', 'monospace';
}
.AsciiArt {

  white-space: pre;
  line-height: 100% !important;
  text-transform: capitalize;
  font-style: normal !important;
  font-weight: normal;
  color : #777777;
  font-size:1rem;


}
.AsciiArt b{
  color : white;
  font-weight: bold;
}

em{
font-style: normal !important;}


.AsciiArt p{
      margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.AsciiArt em{
    font-style: normal;
}


.AsciiArt br{
  content: "";
  margin: 0;
  display: block;
  font-size: 0%;
}